<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>floor.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{148,125}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{148,125}}</string>
        <key>sourceSize</key>
        <string>{148,125}</string>
      </dict>
      <key>mushroom.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,127},{124,148}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{124,148}}</string>
        <key>sourceSize</key>
        <string>{124,148}</string>
      </dict>
      <key>stone.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,277},{140,106}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{140,106}}</string>
        <key>sourceSize</key>
        <string>{140,106}</string>
      </dict>
      <key>diamond.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{126,127},{114,125}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{114,125}}</string>
        <key>sourceSize</key>
        <string>{114,125}</string>
      </dict>
      <key>bomb.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{142,254},{98,128}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{98,128}}</string>
        <key>sourceSize</key>
        <string>{98,128}</string>
      </dict>
      <key>mock.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,0},{103,116}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{103,116}}</string>
        <key>sourceSize</key>
        <string>{103,116}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>barrier.png</string>
      <key>size</key>
      <string>{253,383}</string>
      <key>textureFileName</key>
      <string>barrier.png</string>
    </dict>
  </dict>
</plist>