<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>foothold.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{150,126}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{150,126}}</string>
        <key>sourceSize</key>
        <string>{150,126}</string>
      </dict>
      <key>block_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,126},{170,180}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{170,180}}</string>
        <key>sourceSize</key>
        <string>{170,180}</string>
      </dict>
      <key>block_2.png</key>
      <dict>
        <key>frame</key>
        <string>{170,126},{170,180}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{170,180}}</string>
        <key>sourceSize</key>
        <string>{170,180}</string>
      </dict>
      <key>block_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{340,126},{170,180}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{170,180}}</string>
        <key>sourceSize</key>
        <string>{170,180}</string>
      </dict>
      <key>block_4.png</key>
      <dict>
        <key>frame</key>
        <string>{{510,126},{170,180}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{170,180}}</string>
        <key>sourceSize</key>
        <string>{170,180}</string>
      </dict>
      <key>block_5.png</key>
      <dict>
        <key>frame</key>
        <string>{{680,126},{170,180}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{170,180}}</string>
        <key>sourceSize</key>
        <string>{170,180}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>barrier.png</string>
      <key>size</key>
      <string>{850,306}</string>
      <key>textureFileName</key>
      <string>barrier.png</string>
    </dict>
  </dict>
</plist>